<template>
	<view>
		<cu-custom bgColor="bg-gradual-blue">
			<block slot="content">采购员工具</block>
		</cu-custom>
		<view class="cu-bar bg-white search fixed" :style="[{top:CustomBar + 'px'}]">
			<view class="search-form round">
				<text class="cuIcon-search"></text>
				<input type="text" placeholder="输入搜索的关键词" confirm-type="search"></input>
			</view>
			<view class="action">
				<button class="cu-btn bg-gradual-green shadow-blur round">搜索</button>
			</view>
		</view>
		<scroll-view scroll-y class="page">
			<view class="cu-list menu-avatar">
				<view class="cu-item" :class="modalName=='move-box-'+ index?'move-cur':''" v-for="(item,index) in 12"
					:key="index" @touchstart="ListTouchStart" @touchmove="ListTouchMove" @touchend="ListTouchEnd"
					:data-target="'move-box-' + index">
					<view class="cu-avatar round lg"
						:style="[{backgroundImage:'url(https://ossweb-img.qq.com/images/lol/web201310/skin/big2100'+ (index+2) +'.jpg)'}]">
					</view>
					<view class="content">
						<view class="text-grey">xxx有限公司</view>
						<view class="text-gray text-sm">
							<text class="cuIcon-infofill text-green  margin-right-xs"></text> 18988888888
						</view>
					</view>
					<view class="action">
						<view class="text-grey text-xs">2021-02-25</view>
						<view class="cu-tag round bg-grey sm">50</view>
					</view>
					<view class="move">
						<view class="bg-grey">置顶</view>
						<view class="bg-red">删除</view>
					</view>
				</view>
			</view>
		</scroll-view>
		<view class="cu-bar tabbar bg-white shadow foot">
			<view class="action" @click="NavChange" data-cur="quote">
				<view class='cuIcon-cu-image'>
					<image :src="'/static/tabbar/quote' + [PageCur=='quote'?'_cur':''] + '.png'"></image>
				</view>
				<view :class="PageCur=='quote'?'text-blue':'text-gray'">询价</view>
			</view>
			<view class="action" @click="NavChange" data-cur="supplier">
				<view class='cuIcon-cu-image'>
					<image :src="'/static/tabbar/supplier' + [PageCur == 'supplier'?'_cur':''] + '.png'"></image>
				</view>
				<view :class="PageCur=='supplier'?'text-blue':'text-gray'">厂商</view>
			</view>
			<view class="action" @click="NavChange" data-cur="chart">
				<view class='cuIcon-cu-image'>
					<image :src="'/static/tabbar/chart' + [PageCur == 'chart'?'_cur':''] + '.png'"></image>
				</view>
				<view :class="PageCur=='chart'?'text-blue':'text-gray'">统计</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				CustomBar: this.CustomBar,
				TabCur: 0,
				tabNav: ['供应商', '询价记录'],
				modalName: null,
				PageCur: 'quote'
			};
		},
		methods: {
			NavChange: function(e) {
				this.PageCur = e.currentTarget.dataset.cur
			},
			tabSelect(e) {
				this.TabCur = e.currentTarget.dataset.id;
				this.scrollLeft = (e.currentTarget.dataset.id - 1) * 60
			},
			showModal(e) {
				this.modalName = e.currentTarget.dataset.target
			},
			hideModal(e) {
				this.modalName = null
			},
			// ListTouch触摸开始
			ListTouchStart(e) {
				this.listTouchStart = e.touches[0].pageX
			},

			// ListTouch计算方向
			ListTouchMove(e) {
				this.listTouchDirection = e.touches[0].pageX - this.listTouchStart > 0 ? 'right' : 'left'
			},
			ListTouchEnd(e) {
				if (this.listTouchDirection == 'left') {
					this.modalName = e.currentTarget.dataset.target
				} else {
					this.modalName = null
				}
				this.listTouchDirection = null
			}
		}
	}
</script>

<style>
	page {
		padding-top: 45px;
		padding-bottom: 50px;
	}
</style>
